/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #909090;
}
@media (max-width: 500px) {
  .container {
    padding-top: 0;
    background-color: #FFF;
  }
}
nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  padding-bottom: 2%;
  margin-top: 10px;
}
nav img {
  width: 12%;
  height: 12%;
}
@media (max-width: 500px) {
  nav img {
    display: none;
  }
}
nav a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
nav .links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav .links {
    width: 100%;
  }
}
header {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto 30px auto;
  padding: 10px 20px;
  background-color: #FFF;
  border-radius: 10px;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
  }
}
header .logo {
  width: 35%;
}
@media (max-width: 500px) {
  header .logo {
    width: 100%;
  }
}
header .logo img {
  width: 250px;
  margin-left: 30px;
}
@media (max-width: 500px) {
  header .logo img {
    width: 100%;
    margin-left: 0;
  }
}
header .content {
  width: 60%;
  margin-left: 50px;
}
@media (max-width: 500px) {
  header .content {
    display: none;
  }
}
header .content p {
  font-size: 3rem;
  margin-top: 20px;
  padding: 60px 40px 0 40px;
}
@media (max-width: 500px) {
  header .content p {
    font-size: 2.5rem;
    text-align: center;
  }
}
footer {
  margin: 30px 0;
}
@media (max-width: 500px) {
  footer {
    margin: 0;
  }
}
footer .footer-content {
  text-align: center;
  padding: 20px 0;
}
footer .footer-content p {
  font-size: 1.6rem;
}
.cards {
  width: 90%;
  background-color: #FFF;
  border-radius: 10px;
  margin: 0px auto 30px auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .cards {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 0;
  }
}
.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 500px) {
  .cards .card {
    padding: 0;
  }
}
.cards .card h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .cards .card h2 {
    display: none;
  }
}
.cards .card img {
  width: 90%;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 180px;
}
@media (max-width: 500px) {
  .cards .card img {
    width: 100%;
    margin-bottom: 0;
    height: 280px;
    border-radius: 0;
  }
}
.cards .card p {
  font-size: 14px;
  width: 90%;
  line-height: 1.6;
  padding-bottom: 4%;
}
.cards .card .outer {
  margin-bottom: 20%;
}
.cards .card button {
  background-color: #549D3F;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 30px;
  margin-bottom: 20px;
  color: #FFF;
}
.cards .card button:hover {
  background-color: #28810B;
}
@media (max-width: 500px) {
  .cards .card button {
    width: 100%;
    background-color: #28810B;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
  }
}
.schedule {
  width: 90%;
  margin: 0 auto;
  background-image: url("../images/calendar.jpg");
  background-size: cover;
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .schedule {
    width: 100%;
    border-radius: 0;
  }
}
.schedule img {
  width: 100%;
  height: 220px;
  border-radius: 10px;
  opacity: 0.6;
}
@media (max-width: 500px) {
  .schedule img {
    border-radius: 0;
  }
}
.schedule button {
  font-size: 1.5rem;
  background-color: #FFEB56;
  padding: 20px;
  border: 1px solid #28810B;
  border-radius: 5px;
}
.about {
  width: 90%;
  background-color: #FFF;
  border-radius: 10px;
  margin: 30px auto 30px auto;
  height: 300px;
}
@media (max-width: 500px) {
  .about {
    width: 100%;
  }
}
.about .tabs {
  width: 100%;
}
.about .tabs .tabs-links {
  display: flex;
  margin: 1px 0 1px 0;
}
.about .tabs .link {
  padding: 20px 0;
  text-align: center;
  width: 20%;
  font-size: 2rem;
  background-color: #28810B;
  border-right: 1px solid white;
  color: #FFF;
  border-radius: 10px;
  cursor: pointer;
}
.about .tabs .link:hover {
  background-color: #549D3F;
}
.about .tabs .link-selected {
  z-index: 2;
  border: 1px solid #28810B;
  background-color: #FFF;
  color: #272727;
}
.about .tabs .link-selected:hover {
  background-color: #FFF;
}
.about .tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.about .tabs .item {
  display: none;
  width: 75%;
}
.about .tabs .item .item-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.about .tabs .item .item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about .tabs .item .item-description .content {
  font-size: 1.8rem;
}
.about .tabs .item img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
}
.about .tabs .item-selected {
  display: flex;
  justify-content: space-around;
}
