// Cards section
.cards {
  width: 90%;
  background-color: @white;
  border-radius: 10px;
  margin: 0px auto 30px auto;
  display: flex;
  justify-content: space-between;
  @media @mobile {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    margin-bottom: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0;
    width:35%;
    @media @mobile {
      width:100%;
      padding: 0;
      margin-top: 0;
    }

    img {
      width: 90%;
      border-radius: 10px;
      margin-bottom: 30px;
      height: 180px;
      @media @mobile {
        width: 100%;
        margin-bottom: 0;
        height: 280px;
        border-radius: 0;
      }
    }
    p{
      font-size:14px;
      width:90%;
      line-height:1.6;
      padding-bottom:4%;
    }

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      text-align:center;
      @media @mobile {
        display: none;
      }
    }

    p {
      font-size:14px;
      width:90%;
      line-height:1.6;
      padding-bottom: 20px;
    }
    .card-content{
      height:60%;
      width:90%;
      display:flex;
      flex-direction:column;
      align-items:center;
      @media @mobile{
        width:100%;
      }

    }

    a {
      @media @mobile {
        width: 100%;
      }
    }

    button {
      background-color: @lt-green;
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px 30px;
      margin: 20px 0;
      color: @white;
      &:hover {
        background-color: @dk-green;
      }
      @media @mobile {
        width: 100%;
        background-color: @dk-green;
        border-radius: 0;
        margin-bottom: 0;
        border: none;
      }
      .outer {
        visibility: hidden;
        @media @mobile {
          margin-bottom: 0;
          visibility: visible;
        }
      }
    }
  } // card
} // cards