html{
    background:lightgray;
}
.container{
   width:100%;
    background:lightgray;
} 
.header_logo{
    width:10%;
    height:10%;
    padding-bottom:2%;
}
.box_container{
    width:80%;
    display:flex;
    align-items:center;
    padding-left:13%;
    margin:3%;
    border-radius:6px;
    background:white;
}
.box_logo{
width:70%;
height:70%;

}
.box_content{
    width:100%;
    font-size:2.5em;
    margin-right:12%;
    justify-content:center;
}
.learn{
    margin-left:27%;
    font-size:1em;
    background-color:#28810B;
    color:black;
    border-radius:7px;
}
.body{
    display:flex;
    justify-content:space-between;
    margin-right:3%;
    margin-left:3%;
    margin-top:5%;
    border-radius:5px;
}
.box{
    width:32%;
    font-size:25px;
    background:white;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    align-items:center;
    border-radius:6px;
}
